<div class="container text-center">
	{{#each products}}
        <div class="col-md-6 col-md-offset-3 hero-feature">
            <div class="thumbnail item">
                <img src="{{this.imageurl}}">
                    <div class="caption">
                        <h2 class="itemhead">{{this.productname}}</h2>
                        <p class="item-p">Location: {{this.location}}</p>
                        <p class="item-p">Price: ${{this.price}}</p>
      
                        <form action="/Purchaseproducts?_method=PUT" method="POST" class="buy">
              			<input type="hidden" name="id" value="{{this.id}}">
              			<button class="buyer btn btn-primary" type="submit">Purchase</button>
          				</form>
                        
                    </div>
    {{/each}}
     		</div>
</div>